@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('./images/background.png');
    background-size: cover;
    background-position: center;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    background-color: #00abf0;
    padding: 8px 16px;
    border-radius: 5px;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar button {
    font-size: 18px;
    color: #ededed;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 2px solid #00abf0;
    cursor: pointer;
    transition: .3s;
}

.navbar button:hover,
.navbar button.active {
    color: #081b29;
    background-color: #00abf0;
    border-color: #081b29;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 45%;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0 40px;
    overflow: hidden;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.contact-link {
    margin: 16px 0;
}

.contact-link a {
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: #ededed;
    display: inline-block;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    height: 100%;
    width: 150px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    text-decoration: none;
    font-size: 19px;
    color: #00abf0;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}

.btn-box a:hover {
    color: #081b29;
    background-color: #00abf0;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.2s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.certifications-link{
    color: #ededed;
    font-size: 16px;
    text-decoration: none;
}

.certifications-link:hover {
    color: #00abf0;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0
    }
}